<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <p>测试标签</p>
  <a href="#" class="btn btn-success">测试按钮</a> -->
  <!-- <br>
  <hr> -->
 <!-- <app-myone></app-myone>-->
<!-- <app-mytwo></app-mytwo> -->
 <!-- <app-domattribute></app-domattribute>  -->
 <!-- <app-htmlattribute></app-htmlattribute> -->
 <!-- <app-classattribute></app-classattribute>-->
<!-- <app-styleattribute></app-styleattribute> -->
<app-ng-for></app-ng-for>
<!-- <app-twoway-data></app-twoway-data> -->
 <!-- <app-template></app-template>  -->
</div>


<router-outlet></router-outlet>
